// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-family: 'Roboto Slab', serif;
$font-family: 'Montserrat', sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-family: 'Poppins', sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$appcolor: #ff0064;
